{% extends 'base.html'%}

{% block titulo %}

<title> Acera de </title>

{% endblock titulo%}

{% block contenido %}
<main>

    <section class="py-5 text-center container">
      <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
          <h1 class="fw-light">GRUPO 5</h1>
          <p class="lead text-body-light">Somos Gerzel, Emiliano A. y Abrigo, Mirko N. integrantes del grupo 6 de la comision 5 de la 2da corte del 2023 del programa "INFORMATORIO" creado por el Gobierno de la Provincia del Chaco <p>
            <a href="https://empleo.chaco.gob.ar/informatorio#/" class="btn btn-primary my-2">INFORMATORIO</a>
            <a href="https://docs.google.com/document/d/1jf_whBxSG51IVe6WvQNXredYOHvs2EFfmmK4VcPTZto/edit#heading=h.9a09rvbbh8oh" class="btn btn-secondary my-2">Consignas TP FINAL</a>
          </p>
        </div>
      </div>
    </section>
  
    <div class="album py-5 bg-body-tertiary">
      <div class="container">
  
        <div class="row row-cols-1 row-cols-sm-2 g-2">
          <div class="col justify-content-center">
            <p class="text-dark text-center">Emiliano A. Gerzel</p>
            <div class="card shadow-sm">
              <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
              <div class="card-body">
                <p class="card-text">Soy Emiliano Adolfo Gerzel estudiante de la carrera ingenieria en sistemas en la UTN FRRe, me gusta aprender programacion, principalmente el desarrollo back-end, en mi tiempo libre me gusta hacer ciclismo</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">GitHubb Personal</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col justify-content-center">
            <p class="text-dark text-center">Mirko N. Abrigo</p>
            <div class="card shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"></rect><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>
              <div class="card-body">
                <p class="card-text">Soy Mirko Abrigo Natanael entreno básquet, dibujo mucho, y me gusta programación. Actualmente estoy cursando la segunda etapa del informatorio de chaco Argentina en el cual aprendí mucho acerca de los lenguajes de programación y demás temas. Este es nuestro primer proyecto y espero que les guste.</p>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <button type="button" class="btn btn-sm btn-outline-secondary">GitHubb Personal</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  
  </main>


{% endblock contenido %}